:root {
	--primary: #938250;
}

.footer {

	margin-top: 50px;
	padding: 20px;
	background: white;
	text-align: center;
}

.container {
	max-width: 800px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 50px;
	margin: 0 auto;
}

.logo {
	height: 200px;
	width: 200px;
}

.footerCol {
	padding: 20px;
	// border: 1px solid black;
	
	text-align: center;
	flex-grow: 1;
}

.social {
	width: 25px;
	height: 25px;
	margin: 10px;
	color: #333333;
	transition: color 1s;

	a {
		color: #333333;
		transition: color 1s;

		:hover {
			color: #DECB7A;
		}
	}
}

.social:hover {
	color: #DECB7A;
}

.nav {
	list-style-type: none;
	line-height: 36px;
}

.nav a {
	text-decoration: none;
	color: #333333;
	transition: color 1s;
}

.nav a:hover {
	text-decoration: none;
	color: #DECB7A;
}

.hours {
	margin-top: 10px;
	list-style-type: none;
	color: var(--primary);
}

// @media screen and (min-width: 768px) {

// }

// @media screen and (min-width: 460px) {
// 	.
// }